body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#FirstPage {
    margin-top: 0%;
    color: #0b60a5;
}

#krustykrabs {
    opacity: 0.7;
}

#TitleSection {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

nav {
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-color: #ffff4d; 
    border-radius: 10px;
    border: 1.5px solid whitesmoke;
}

#Logo img {
    height: 60px; 
    width: auto;
    border-radius: 15px;
    transition: transform 0.7s; 
}

#Logo img:hover {
    transform: scale(1.1) rotate(360deg); 
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline;
    margin-left: 20px; 
    transition: transform 0.4s;
}

#menu ul li:first-child {
    margin-left: 0; 
}

#menu ul li a {
    text-decoration: none; 
    color: inherit; /* Inherit text color */
    position: relative; 
}

#menu ul li:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    padding: 10px;
}

#menu ul li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust the distance of the line from the text */
    width: 100%;
    height: 2px;
}

img {
    border: none;
    max-width: 100%; /* Ensure images are responsive */
    height: auto;
}

#trustedClients {
    height: 300px;
}

#paddingSection {
    padding: 0px 30px;
}
#About {
    position: relative;
    
}

#about-image {
    position: relative;
    overflow: hidden;
    opacity: 0.91; 
}

#about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#benefit-List {
    position: absolute;
    top: 20%;
    left: 20%;
    color: #f6eef7; 
}

.Split-screen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); /* Make columns occupy equal space */
    gap: 20px; 
    padding: 90px;}
#Highlights {
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 20px;
}

#scrollable-list {
    display: flex; 
    gap: 20px; 
    padding: 0; 
    margin: 0; 
    list-style: none;
    overflow-x: auto; /* Enable horizontal scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#scrollable-list::-webkit-scrollbar {
    display: none; /* WebKit (Chrome, Safari) */
}

#scrollable-list li {
    flex: 0 0 auto; /* Allow items to shrink and grow as needed */
}

#scrollable-list li div {
    text-align: center; 
}

#scrollable-list li div img {
    width: 200px; 
    height: auto; /* Allow the height to adjust automatically */
    border-radius: 10px; 
}


.Split-screen section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 40px;
    padding-bottom: 0;
}

.Split-screen div {
    margin-bottom: 100px;
}

.Split-screen div img {
    border-radius: 10px;
    width: 50%;
}

.Split-screen section img {
    max-width: 100px;
    height: auto; 
}

.Split-screen li {
    list-style: none;
    margin: 10px;
}

section img {
    max-width: 100%; 
    height: 100%; 
    border-radius: 10px;
}

#image {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.squidward {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 20px; 
    padding-left: 50px;
}

.squidward img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

#seereviews {
    height: 150px;
    width: 150px;
    background-color: transparent; 
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    transition: transform 0.3s, box-shadow 0.3s; 
}

#seereviews:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

#customerpart img {
    border-radius: 50%;
    width: 60px; 
    height: 60px;
}

footer {
    background-color: rgba(255, 255, 0, 0.8); 
}
footer li a{
    text-decoration: none;
}


/* CSS for button-89 class */
.button-89 {
    --b: 3px; /* border thickness */
    --s: 0.45em; /* size of the corner */
    --color: #373b44;
    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
        var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: 0.3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: 0.05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}
